@model GetProfilePageVM

@if (TempData["Message"] != null)
{
            <h1 class="alert alert-danger">
                <b>@TempData["Message"]!</b>
            </h1>
}
<!-- page start-->
<div class="row">
    <aside class="profile-nav col-lg-3">
        <section class="panel">
            <div class="user-heading round">
                <a>
                    <img src="@Model.GetProfilePureVM.ImagePath">
                </a>
                <h1>@Model.GetProfilePureVM.FirstName @Model.GetProfilePureVM.LastName</h1>
                <p>@Model.GetProfilePureVM.Email</p>
            </div>

            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a asp-action="Index" asp-controller="Profile" asp-route-name="@User.Identity.Name"> <i class="icon-user"></i> Profile</a></li>
                <li><a asp-action="UpdateProfile" asp-controller="Profile" asp-route-id="@Model.GetProfilePureVM.ID"> <i class="icon-edit"></i> Edit profile</a></li>
            </ul>

        </section>
    </aside>
    <aside class="profile-info col-lg-9">
        <section class="panel">
            <div class="panel-body bio-graph-info">
                <h1>Profil Bilgileri</h1>
                <div class="row">
                    <div class="bio-row">
                        <p><span>First Name </span>: @Model.GetProfilePureVM.FirstName</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Last Name </span>: @Model.GetProfilePureVM.LastName</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Country </span>: @Model.GetProfilePureVM.Country</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Birthday</span>: @Model.GetProfilePureVM.Birthday.ToString("dd.MM.yyyy")</p>
                    </div>
                    <div class="bio-row">
                        <p><span>City </span>: @Model.GetProfilePureVM.City</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Email </span>: @Model.GetProfilePureVM.Email</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Phone </span>: @Model.GetProfilePureVM.Phone</p>
                    </div>
                </div>
            </div>
        </section>
<!-- page end-->