@model List<Category>

<h1>
    <span class="text-danger">@TempData["Message"]</span>
</h1>




<section class="panel">
    <header class="panel-heading">
        DataTables hidden row details example
    </header>
    <div class="panel-body">
        <div class="adv-table">
            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                <thead>
                    <tr>
                        <th>Kategori ID</th>
                        <th>Kategori Ismi</th>
                        <th class="hidden-phone">Acıklaması</th>
                        <th class="hidden-phone">Durumu</th>
                        <th class="hidden-phone">Guncelle</th>
                        <th class="hidden-phone">Sil</th>
                        <th class="hidden-phone">Yok Et</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (Category item in Model)
                    {
                        <tr class="gradeX">
                            <td>@item.ID</td>
                            <td>
                                @item.CategoryName
                            </td>
                            <td class="hidden-phone">@item.Description</td>
                            <td class="center hidden-phone">@item.Status</td>
                            <td class="center hidden-phone"><a asp-action="UpdateCategory" asp-route-id="@item.ID" class="btn btn-warning">Güncelle</a></td>
                            <td class="center hidden-phone"><a asp-action="DeleteCategory" asp-route-id="@item.ID" class="btn btn-danger">Sil</a></td>
                            <td class="center hidden-phone"><a asp-action="DestroyCategory" asp-route-id="@item.ID" class="btn btn-danger">Yok et</a></td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
    <div class="text-danger" asp-validation-summary="ModelOnly">
    </div>
</section>