@model MyCartPageVM

@if (TempData["Message"] != null)
{
    <h1 class="alert alert-danger">
        <b>@TempData["Message"]!</b>
    </h1>
}
@{
    string returnUrl = Context.Request.Path + Context.Request.QueryString;
}
<div class="row">
    <div class="col-sm-6">
        <section class="panel">
            <header class="panel-heading">
                <a style="color:black;font-size: 24px;">Sepetim</a>
                <a asp-action="DeleteCart" asp-controller="Shopping" style="float:right; color:black;font-size: 24px;">Sepeti Temizle</a>
            </header>
            <table class="table" style="color:black">
                <thead>
                    <tr>
                        <th>Ürün</th>
                        <th>Ürün Bilgisi</th>
                        <th>Ürün Fiyatı</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CartItem item in Model.CartItems)
                    {
                        <tr >
                            <td width="200" height="150">
                                @if (@item.ImagePath.Contains("nightlife"))
                                {
                                    <img src="/images/BasicFoto.png" width="150" height="150" />
                                }
                                else
                                {
                                    <img src="@item.ImagePath" width="150" height="150" />
                                }
                            </td>
                            <td>
                                <a style="color:black">@item.ProductName</a><br />
                                <a style="color:black">Adet Fiyatı = @item.UnitPrice.ToString("C", new System.Globalization.CultureInfo("tr-TR"))</a> <br /><br /><br /><br /><br />
                                <a asp-action="DecreaseFromCart" asp-route-id="@item.ID">
                                    <i class="icon-minus-sign" style="font-size: 24px;color:black; "></i>
                                </a>
                                <a style="font-size: 24px;color:black;">@item.Amount</a>
                                <a asp-action="AddToCart" asp-route-id="@item.ID" asp-route-returnUrl="@returnUrl">
                                    <i class=" icon-plus-sign" style="font-size: 24px;color:black;"></i>
                                </a>
                            </td>
                            <td>
                                <a style="font-size: 24px;color:black;">@item.SubTotal.ToString("C", new System.Globalization.CultureInfo("tr-TR"))</a>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="3" align="right">
                            <a style="font-size: 24px;color:black;"> Ödenecek Tutar: @Model.CartItems.Sum(x => x.SubTotal).ToString("C", new System.Globalization.CultureInfo("tr-TR")) </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" align="right">
                            <a asp-controller="Shopping" asp-action="ConfirmOrder" class="btn btn-success "> Alışverişi Tamamla </a>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </section>
    </div>
</div>   