@model ShoppingPageVM


@if (TempData["Message"] != null)
{
    <h1 class="alert alert-danger">
        <b>@TempData["Message"]!</b>
    </h1>
}
@{
    string returnUrl = Context.Request.Path + Context.Request.QueryString;
}
<div class="row">
    <div class="col-md-3">

        <section class="panel">
            <header class="panel-heading">
                Kategoriler
            </header>
            <div class="panel-body">
                <ul class="nav prod-cat">
                    @foreach (CategoryPureVM item in Model.CategoryPureVMs)
                    {
                        <li style="padding-top:30px">
                            <a asp-controller="Shopping" asp-action="Index" asp-route-categoryID="@item.ID">@item.CategoryName</a>
                        </li>
                    }
                </ul>
            </div>
        </section>

    </div>
    <div class="col-md-9">
        <section class="panel">
            <div class="panel-body">


                <div class="pull-right">
                    <ul class="pagination pagination-sm pro-page-list">

                        @if (TempData["catID"] != null)
                        {
                            <li>@Html.PagedListPager(Model.ProductPureVMs, page => Url.Action("Index", new { page, categoryID = TempData["catID"] }))</li>
                        }
                        else
                        {
                            @Html.PagedListPager(Model.ProductPureVMs, page => Url.Action("Index", new { page }))
                             
                        }
                    </ul>
                </div>
            </div>
        </section>

        <div class="row product-list">


            @foreach (ProductPureVM item in Model.ProductPureVMs)
            {
                <div class="col-md-4">
                    <section class="panel">
                        <div class="pro-img-box">
                            @if (item.ImagePath.Contains("nightlife"))
                            {
                                <a asp-action="index" asp-controller="Product" asp-area="" asp-route-id="@item.ID"><img src="/images/BasicFoto.png" width="250" height="350" /></a>
                            }
                            else
                            {
                                <a asp-action="index" asp-controller="Product" asp-area="" asp-route-id="@item.ID"> <img src="@item.ImagePath" width="250" height="350" /></a>
                            }


                            <a asp-action="AddToCart" asp-route-id="@item.ID" asp-route-returnUrl="@returnUrl" class="adtocart">
                                <i class="icon-shopping-cart"></i>
                            </a>
                        </div>

                        <div class="panel-body text-center">
                            <h4>
                                <a class="pro-title" title="@item.CategoryName">
                                    @item.ProductName
                                </a>
                            </h4>
                            <p class="price">@item.UnitPrice.ToString("C", new System.Globalization.CultureInfo("tr-TR"))</p>
                        </div>
                    </section>
                </div>
            }


        </div>
    </div>
</div>

